#user-welcome h6 {
    color: white;
    font-size: 12px;
    margin: 16px 0px 0px 0px;
}

#user-avatar img {
    margin: 16px;
    width: 54px;
    height: 54px;
}

#user-avatar img:hover {
    cursor: pointer;
}

#user-dropdown {
    min-width: 292px;
    max-width: 292px;
}

#user-dropdown ul {
    position: relative;
}

.textarea-explanation {
    min-width: auto;
    max-width: auto;
    min-height: 112px;
    max-height: auto;
}

.textarea-code {
    min-width: auto;
    max-width: auto;
    min-height: 364px;
    max-height: auto;
}

.textarea-comment {
    min-width: auto;
    max-width: auto;
    min-height: 64px;
    max-height: auto;
}